#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1fb6ff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
}

#myBtn:hover {
  background-color: #198bc4;
}

html {
  scroll-behavior: smooth;
}

.card-link {
  color: #007bff
}

.card-link:hover{
color: #0056b3;
}